<div class="row">
    <div class="card col-12">
        <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Cuantas {{nombreTipoDeJuego | lowercase}} tiene la palabra: {{bpalabras[indicePalabraAUsar] | uppercase }}    {{mensajeEquivocacion}}
            </h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto my-lg-1 my-md-4" *ngFor="let opcion of opcionesAElegir">
        <div class="card">
            <div class="card-body d-grid gap-2">
                <a class="fs-2 btn btn-primary btn-lg p-lg-5 p-md-5 " (click)="comprobarOpcionCorrecta(opcion)">{{opcion}}</a>
            </div>
        </div>
    </div>
</div>